html {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

html,
body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-base-family;
  height: 100%;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

label{
  cursor: pointer;
}

ul li{
  list-style: none;
}

ul{
  list-style-type: none;
  padding: 0;
}


.header__logo:hover{
  opacity: 0.5;
}

.header__logo:active{
  opacity: 0.2;
}

.info__search{
  color: #1E0606;
  margin-right: 24px;
  line-height: 18px;
  max-width: 100%;
}

.info{
  font-weight: 700;
  max-width: max-cotent;
  line-height: 20px;
  color: #1E0606;
}

.btn {
  border: none;
}

/* popup */

.popup {
  display: none;
  top: 15%;
  left: 27%;
  position: absolute;
  z-index: 1;
}

.open {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(125, 151, 218, 0.8);
}

.popup__wr {
  display: flex;
  z-index: 3;
}

.close {
  background: #000000;
  width: 20px;
  height: 20px;
  border: none;
  background-repeat: no-repeat;
  background-image: url('../icon/cls.svg');
}

.close:hover {
  opacity: 0.5;
}

.close:active {
  opacity: 0.2;
}
