.title__animation {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #1E0606;
  margin-top: 65px;
}

.subtitle{
  display: flex;
  margin-bottom: 50px;
  margin-left: 76px;
}

.subtitle__button {
  background-color: #ffffff;
  border: none;
  font-family: 'Crimson Text', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1E0606;
}

.subtitle__arrow {
  background: #ffffff;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 7px;
}

.subtitle__button:hover{
  opacity: 0.5;
  transition-duration: 1s;
}

.subtitle__button:active{
  opacity: 0.2;
}

.animation__clouds {
  position: relative;
  overflow: hidden;

}

.animation__clouds-one {
  position: absolute;
  left: 50px;
  bottom: 30px;
  @include move;
}

.animation__clouds-two {
  position: absolute;
  left: 300px;
  bottom: 10px;
  @include move;
}

.animation__clouds-three {
  position: absolute;
  left: 500px;
  bottom: 40px;
  @include move;
}

.animation__clouds-four {
  position: absolute;
  left: 700px;
  bottom: 10px;
  @include move;
}

.animation__clouds-five {
  position: absolute;
  left: 980px;
  bottom: 30px;
  @include move;
}

.animation__clouds-six {
  position: absolute;
  left: 1175px;
  bottom: 30px;
  @include move;
}

.animation__clouds-sun {
  position: absolute;
  left: 1100px;
  bottom: 35px;
}

.animation__background {
  margin-top: 136px;
  background-image: url(../img/city.png);
  max-width: 100%;
  height: 630px;
}

.animation__onecar {
  background-image: url(../img/onecar.png);
  background-repeat: no-repeat;
  width: 251px;
  height: 100px;
  position: absolute;
  top: 675px;
}

.animation__twocar {
  background-image: url(../img/twocar.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 96px;
  position: absolute;
  top: 675px;
  left: 420px;
}

.animation__threecar {
  background-image: url(../img/threecar.png);
  background-repeat: no-repeat;
  width: 246px;
  height: 65px;
  position: absolute;
  top: 698px;
  left: 700px;
}

.animation__fourcar {
  background-image: url(../img/fourcar.png);
  background-repeat: no-repeat;
  width: 268px;
  height: 125px;
  position: absolute;
  top: 656px;
  left: 1060px;
}

.animation__lantern {
  background-image: url(../img/lantern.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 350px;
  position: absolute;
  top: 458px;
  left: 443px;
}

.animation__rack {
  background-image: url(../img/rack.png);
  background-repeat: no-repeat;
  width: 36px;
  height: 30px;
  position: absolute;
  top: 803px;
  left: 502px;
}

.animation__taxi {
  background-image: url(../img/taxi.png);
  background-repeat: no-repeat;
  width: 886px;
  height: 266px;
  position: absolute;
  top: 647px;
  left: 462px;
}

.animation__blacklantern {
  background-image: url(../img/blacklantern.png);
  background-repeat: no-repeat;
  width: 215px;
  height: 560px;
  position: absolute;
  top: 403px;
  left: 1113px;
}

.animation__girl {
  background-image: url(../img/girl.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 269px;
  position: absolute;
  top: 712px;
  left: 240px;
}

.animation__luggage {
  background-image: url(../img/luggage.png);
  background-repeat: no-repeat;
  width: 192px;
  height: 96px;
  position: absolute;
  top: 883px;
  left: 243px;
}

.animation__man {
  background-image: url(../img/man.png);
  background-repeat: no-repeat;
  width: 205px;
  height: 391px;
  position: absolute;
  top: 587px;
  left: 358px;
}



@keyframes movecloud {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(1270px);
  }
}