.banner{
  position: relative;
  background-color: #EEE4DB;
  margin-top: 129px;
  height: 372px;
}

.number{
  margin-left: 28px;
  padding-top: 17px;
}

.banner__button{
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 62px;
  height: 45px;
  margin-left: 31px;
  margin-top: 20px;
}

.banner__btn:hover{
  background: #725F5B;
}

.banner__btn{
  background: #D6CAC2;
  width: 31px;
  height: 3px;
  border: none;
}

.banner__monster{
  position: absolute;
  width: 636px;
  height: 461px;
  top: -89px;
  left: 486px;
}

.banner__title{
  margin-left: 133px;
}

.banner__title-header{
  width: 450px;
  font-size: 40px;
  line-height: 44px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  color: #1E0606;
}

.banner__title-info{
  font-family: 'Crimson Text',sans-serif;
  font-style: italic;
  line-height: 26px;
  font-size: 20px;
  margin-bottom: 20px;
  color: #1E0606;
}

.link__info{
  color: white;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  line-height: 22px;
  background-color: #000000;
  width: 161px;
  height: 40px;
}

.link__info:hover{
  background-color: #C29974;
  border: none;
}

.link__info:active{
  background-color: #CFAF91;
  border: none;
}

.banner__text{
  background-color: #C29974;  
  padding: 11px;
  text-align: center;
}

.banner__text-info{ 
  height: 18px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
}
