      <section class="container">
        <div class="banner">
          <div class="">
            <img class="number" src="../img/number.png" alt="nomber one">
            <ul class="banner__button">
              <li><button class="banner__btn"></button></li>
              <li><button class="banner__btn"></button></li>
              <li><button class="banner__btn"></button></li>
              <li><button class="banner__btn"></button></li>
            </ul>
            <img class="banner__monster" src="./img/banner.png" alt="logo">
            <div class="banner__title">
              <h1 class="banner__title-header">THE OOH NOO COLLECTION</h1>
              <p class="banner__title-info">Designed in Slovenia</p>
              <button type="button" class="btn link__info btn__js">EXPLORE NOW</button>
            </div>
          </div>
        </div>
        <div class="banner__text">
          <p class="banner__text-info">Free (continental) USA shipping on all orders of $100 USD or more!</p>
        </div>
      </section>