      <section class="container goods">
        <h2 class="goods__subtitle">Category Products</h2>
          <ul class="category__list">
          <li class="category__list-sweater">
            <img src="./img/blouse.png" alt="" width="280" height="270">
            <a class="sweater__text" href="#">APPAREL KIDS</a>
          </li>
          <li class="category__list-holiday">
            <img class="category__list-socks" src="./img/sock.png" alt="">
            <a class="holiday__text" href="#">HOLIDAY SHOP</a>
          </li>
          <li class="category__list-toys">
            <img src="./img/toys.png" alt="">
            <a class="toys__text" href="toys.html">TOYS</a>
          </li>
          <li class="category__list-accessories">
            <img class="category__list-monkey" src="./img/ded.png" alt="">
            <a class="accessories__text" href="#">ACCESSORIES</a>
          </li>
        </ul>
        <div>
          <button class="button__left"><img class="button__left-black" src="./img/icon/left.png" alt=""></button>
          <button class="button__right"><img class="button__right-black" src="./img/icon/right.png" alt=""></button>
        </div>
        <p class="note" >Modern finds for the modern home. Curated goods by unique designers around the world from fashion to furniture for kids and adults.</p>
      </section>