      <form class="form" method="post" action="#">
        <div class="label__wrapper">
          <label class="label" for="">Name</label>
          <input class="column__input placeholder" type="text" placeholder="Ivan Ivanov">
        </div>
        <div class="column__two-input">
          <div class="label__wrapper block">
            <label class="label" for="">Phone</label>
            <input class="column__input placeholder" type="tel">
          </div>
          <div class="label__wrapper block">
            <label class="label" for="">Email</label>
            <input class="column__input placeholder" type="email">
          </div>
        </div>
        <div class="label__wrapper">
          <label class="label" for="">Messege</label>
          <textarea name="text" cols="30" rows="10" ></textarea>
        </div>
        <div class="checkbox">
          <input class="checkbox__input" type="checkbox" id="box" name="checkbox" checked>
          <label class="checkbox__label" for="box"><p class="label__text">By clicking on the button, you consent to the processing of your personal data</p></label>
        </div>
        <input class="button__amount-contact" type="submit" name="submit" value="SUBMIT">
      </form>