    <footer class="footer">
      <div class="container footer__main">
        <nav class="footer__navigation">
          <p class="footer__navigation-top">Navigation</p>
          <ul>
            <li class="footer__text"><a class="footer__words" href="#">About Us</a></li>
            <li class="footer__text"><a class="footer__words" href="file:///C:/Users/%D0%90%D0%B4%D0%BC%D0%B8%D0%BD/Documents/GitHub/yo-zelenov-nikita-1/blog.html">Blog</a></li>
            <li class="footer__text"><a class="footer__words" href="#">Design Services</a></li>
            <li class="footer__text"><a class="footer__words" href="#">Featured On</a></li>
            <li class="footer__text"><a class="footer__words" href="#">2018 Holiday Catalog</a></li>
            <li class="footer__text"><a class="footer__words" href="#">Shop By Designer</a></li>  
          </ul>
        </nav>
        <nav class="footer__navigation">
          <p class="footer__navigation-top">Customer Information</p>
          <ul>
            <li class="footer__text"><a class="footer__words" href="file:///C:/Users/%D0%90%D0%B4%D0%BC%D0%B8%D0%BD/Documents/GitHub/yo-zelenov-nikita-1/contact.html">Contact Us</a></li>
            <li class="footer__text"><a class="footer__words" href="#">Sale Exclusions</a></li>
            <li class="footer__text"><a class="footer__words" href="#">Shipping & Returns</a></li>
            <li class="footer__text"><a class="footer__words" href="#">Terms & PConditions</a></li>
            <li class="footer__text"><a class="footer__words" href="#">Privacy Policy</a></li>
            <li class="footer__text"><a class="footer__words" href="#">Search</a></li>
          </ul>
        </nav>
        <div class="footer__navigation">
          <div class="input">
            <p class="footer__navigation-top">Connect</p>
            <div class="input__email">
              <input class="footer__input" type="email" id="join" name="text" placeholder="Email">
              <label class="footer__link" for="join">Join</label>
            </div>
          </div>
          <div>
            <ul class="footer__logo">
              <li class="footer__back"><img class="footer__back-icon" src="./img/icon/facebook.svg" alt="facebook logo"></li>
              <li class="footer__back"><img class="footer__back-icon" src="./img/icon/twitter.svg" alt="twitter logo"></li>
              <li class="footer__back"><img class="footer__back-icon" src="./img/icon/pinterest.svg" alt="pinterest logo"></li>
              <li class="footer__back"><img class="footer__back-icon" src="./img/icon/instagram.svg" alt="instagram logo"></li>
            </ul>
          </div>
        </div>
        <div class="footer__inner">
          <div class="footer__rating"> 
            <form action="#" class="form__rating">
              <div class="form__iteam">
                <div class="form__label footer__rating-text">Company Rating</div>
                <div class="simple__rating">
                  <div class="simple__rating-iteams">
                    <input type="radio" id="simple__rating-5" class="simple__rating-iteam" name="simple__rating" value="5">
                    <label for="simple__rating-5" class="simple__rating-label"></label>
                    <input type="radio" id="simple__rating-4" class="simple__rating-iteam" name="simple__rating" value="4">
                    <label for="simple__rating-4" class="simple__rating-label"></label>
                    <input type="radio" id="simple__rating-3" class="simple__rating-iteam" name="simple__rating" value="3">
                    <label for="simple__rating-3" class="simple__rating-label"></label>
                    <input type="radio" id="simple__rating-2" class="simple__rating-iteam" name="simple__rating" value="2">
                    <label for="simple__rating-2" class="simple__rating-label"></label>
                    <input type="radio" id="simple__rating-1" class="simple__rating-iteam" name="simple__rating" value="1">
                    <label for="simple__rating-1" class="simple__rating-label"></label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="footer__rating-text footer__text-center">
            <p>Copyright © 2018 Dlk • Design Life Kids</p>
          </div>
          <div class="footer__rating-text footer__text-right">
            <p>Web Design — Direct Line Development</p>
          </div>
        </div>
      </div>
    </footer>