    <header class="header container">
      <a href="#" class="header__link">
        <img class="header__logo" src="./img/icon/logo.svg" alt="logo" width="100" height="52">
      </a>
      <nav class="header__nav left">
        <ul class="header__list header__contact">
          <li class="header__list-item undotted"><a href="catalog.html" class="header__list-link">Catalog</a></li>
          <li class="header__list-item undotted"><a href="#" class="header__list-link">About Us</a></li>
          <li class="header__list-item undotted"><a href="blog.html" class="header__list-link">Blog</a></li>
          <li class="header__list-item undotted"><a href="animation.html" class="header__list-link">Animation</a></li>
        </ul>
      </nav>
      <ul class="header__list header__contact">
        <li class="header__list-item header__contact-item undotted"><img class="info__search" src="./img/icon/glass.svg" alt="Glass" width="18" height="18" tabindex="0"></li>
        <li class="header__list-item header__contact-item undotted"><a class="info" href="contact.html" tabindex="0">Contact  Us</a></li>
      </ul>
    </header>