      <section class="container main">
        <ul class="main__section">
          <li class="main__section-kids">
            <img src="./img/blouse.png" alt="">
            <a class="main__section-text" href="#">APPAREL KIDS</a>
          </li>
          <li class="main__section-sock">
            <img src="./img/sock.png" alt="">
            <a class="main__section-text" href="#"><p>HOLIDAY SHOP</p></a>
          </li>
          <li class="main__section-toys">
            <img src="./img/toys.png" alt="">
            <a class="main__section-text" href="toys.html"><p>TOYS</p></a>
          </li>
          <li class="main__section-ded">
            <img src="./img/ded.png" alt="">
            <a class="main__section-text" href="#"><p class="title__ded">ACCESSORIES</p></a>
          </li>
          <li class="main__section-flamingos">
            <img src="./img/flamingos.png" alt="">
            <a class="main__section-text" href="#"><p>SALE</p></a>
          </li>
          <li class="main__section-outerwear">
            <img src="./img/outerwear.png" alt="">
            <a class="main__section-text" href="#"><p>APPAREL ADULTS</p></a>
          </li>
        </ul>
      </section>