          <div class="animation__clouds" alt="clouds">
            <div>
              <img class="animation__clouds-one" src="./img/cloudone.png" alt="cloud one">
            </div>
            <div>
              <img class="animation__clouds-two" src="./img/cloudtwo.png" alt="cloud two">
            </div>
            <div>
              <img class="animation__clouds-three" src="./img/cloudthree.png" alt="cloud three">
            </div>
            <div>
              <img class="animation__clouds-four" class="animation__clouds-trhee" src="./img/cloudfour.png" alt="cloud four"> 
            </div>
            <div>
              <img class="animation__clouds-five" src="./img/cloudfive.png" alt="cloud five">
            </div>
            <div>
              <img class="animation__clouds-six" src="./img/cloudsix.png" alt="cloud six">
            </div>
            <div>
              <img class="animation__clouds-sun" src="./img/sun.png" alt="sun">
            </div>
          </div>