    <ul class="container page__number">
      <li><img class="img__arrow" src="./img/icon/left.png" alt=""></li>
      <div class="page__arrow">
        <li><button class="button__section" name="button">1</button></li>
        <li><button class="button__section" name="button">2</button></li>
        <li><button class="button__section" name="button">3</button></li>
        <li><button class="button__section" name="button">4</button></li>
      </div>
      <li><img class="img__arrow" src="./img/icon/right.png" alt=""></li>
    </ul>

