<div class="popup ">
      <div class="overlay"></div>
      <form class="form" method="post" action="#">
        <div class="label__wrapper">
          <label class="label" for="Name">Name</label>
          <input class="column__input placeholder" type="text" id="Name" placeholder="Ivan Ivanov">
        </div>
        <div class="column__two-input">
          <div class="label__wrapper block">
            <label class="label" for="Phone">Phone</label>
            <input class="column__input placeholder" id="Phone" type="tel">
          </div>
          <div class="label__wrapper block">
            <label class="label" for="Email">Email</label>
            <input class="column__input placeholder" id="Email" type="email">
          </div>
        </div>
        <div class="label__wrapper">
          <label class="label" for="messege">Messege</label>
          <textarea name="text" cols="30" rows="10" ></textarea>
        </div>
        <div class="checkbox">
          <input class="checkbox__input" type="checkbox" id="box" name="checkbox">
          <label class="checkbox__label" for="box"><span class="label__text">By clicking on the button, you consent to the processing of your personal data</span></label>
        </div>
        <input class="button__amount " type="button" name="submit" value="SUBMIT">
      </form>
      <button type="button" class="close"></button>
    </div>